<div class="row">
  <div class="welcome col-auto">
    <h2>Welcome {{name}}, let's create some Poetry!</h2>
  </div>
</div>

    <form class="form new-poem-form">
      <div class="form-group">
        <label for="poem-title">Poem title:</label>
        <input class="form-input" type="text" id="poem-title" name="poem-title" />
      </div>

      <div class="form-group">
        <label for="poem-body">Start here...</label>
        <textarea class="form-input" id="poem-body" name="poem-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary save-poem">Save</button>
      </div>
    </form>
  </div>

  {{#if poetry.length}}
  <div class="poems row">
    <h3>Your poems:</h3>

    {{#each poetry as |poetry|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/poetry/{{poetry.id}}">{{poetry.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{poetry.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>

