<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfect Poetry</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/jass.css">
</head>

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Let's Create Poetry!</h3>
      <form id="myProfile"></form>


    <form class="new-poem-form">
      <div class="form-group">
        <label for="poem-title">Poem Title:</label>
        <input class="form-input" type="text" id="poem-title" name="poem-title" />
      </div>

      {{!--INSPO???--}}

      <div class="form-group">
        <label for="poem-body">Summary...</label>
        <textarea class="form-input" id="poem-body" name="poem-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary save-poem">Save</button>
      </div>
    </form>
  </div>

 
  <div class="col-md-6">
    <form id="poem-list"></form>
    <h3>Your poems:</h3>

    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/poetry/{{poetry.id}}">{{poetry.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{poetry.id}}">DELETE</button>
      </div>
    </div>


<script src="./js/profile.js"></script>

